<div class="container">
  <div class="item" routerLink="/timer" routerLinkActive="active">
    <div>
      <i class="gg-timer"></i>

    </div>
    <span>
      Timer
    </span>
  </div>
  <div class="item" routerLink="/config" routerLinkActive="active">
    <div>
      <i class="gg-options"></i>

    </div>
    <span>
      Config
    </span>
  </div>
  <div class="item" routerLink="/log" routerLinkActive="active">
    <div>
      <i class="gg-notes"></i>
    </div>
    <span>
      Log
    </span>
  </div>
</div>
