.container {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  margin: 8px 100px 8px 8px;
}
