<div class="container">
  <form>
    <div class="row">

      <label for="totalReps">Total Reps </label>
      <input (ngModelChange)="onChange()" [(ngModel)]="timerService.totalReps" type="number" name="totalReps"
        id="totalReps">
    </div>
    <div class="row">
      <label for="onCycleTime">On Cycle </label>
      <input (ngModelChange)="onChange()" [(ngModel)]="timerService.onCycleTime" type="number" name="onCycleTime"
        id="onCycleTime">

    </div>
    <div class="row">
      <label for="offCycleTime">Off Cycle </label>
      <input (ngModelChange)="onChange()" [(ngModel)]="timerService.offCycleTime" type="number" name="offCycleTime"
        id="offCycleTime">

    </div>
    <button type="button" (click)="timerService.resetToDefaults()">Reset</button>
  </form>
</div>
