#buttons {
  background-color: lightgray;
  padding: 16px 0 16px 16px;
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  width: 100px;
  height: 60px;
  margin-right: 16px;
}

.start {
  background-color: green;
  color: white;
}

.stop {
  background-color: red;
  color: white;
}

.pause {
  background-color: orange;
  color: white;
}

#repStatus {
 font-size: 70px;
}

#currentRepTime {
  font-size: 100px;
  color: green;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
